
body {

background: #ffa000;
background: -moz-linear-gradient(45deg, #ffa000 42%, #ffd149 100%);
background: -webkit-linear-gradient(45deg, #ffa000 42%,#ffd149 100%);
background: linear-gradient(45deg, #ffa000 42%,#ffd149 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa000', endColorstr='#ffd149',GradientType=1 );
color: #494949;
font-family: 'Roboto', sans-serif;
}

body h1,body h2,body h3,body h4,body h5,body h6{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.flexCenter{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


header {
  position: fixed;
  width :100%;
  left: 0;
  top:0;
  padding: 0.3rem;
  z-index: 999;

}

footer{
  background-color: #494949;
  box-shadow: 0 -0.065rem 0.325rem 0 rgba(73, 73, 73, 0.8);
  position: relative;
  z-index: 50;
  padding: 2rem;

}

footer p{
  text-align: center;
  color: #f4f4f4;
  font-weight: 700;
  line-height: 2rem;
  margin : 0;
}

footer a{
  font-family: 'Bangers', cursive;
  color: #ffa000;
  letter-spacing: 0.1rem;
  font-size : 1.2rem;

}

footer a:hover{
  color:#ffd149;
  text-decoration: none;

}


body .navbar{
  overflow: hidden;
  border-radius: 0.3rem;
  font-family: 'Bangers', cursive;
  padding: 0;
  align-items: flex-start;
  background-color: #f4f4f4;
  box-shadow: 0 0.065rem 0.325rem 0 rgba(73, 73, 73, 0.8);


}
 .heightNavbar{
height: 100%;
}


body .nav-tabs .nav-link.active {
  color: #494949;
  background-color: #f4f4f4;
  border-color: transparent;
}

body .nav-tabs .nav-link{
  font-size: 2rem;
  padding: 1rem 0.6rem;
}

body .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
  border-color: transparent;
}

body .nav-tabs .nav-link:hover{
color :#f4f4f4;
background-color: #ffa000;
}

body .navbar-dark .navbar-toggler {
  background-color: #ffa000;
  color: #f4f4f4;
  margin: 0.45rem 1.6rem;
  border-color: transparent;
  height: 56px;
  border-radius:100%;
  box-shadow: 0 0.195rem 0.455rem rgba(73, 73, 73, 0.8);

}
body .navbar-dark .navbar-toggler:hover {
  box-shadow: 0 0 0.26rem rgba(73, 73, 73, 0.8);
}
body .nav-tabs .nav-item,body .nav-tabs .nav-link{
  width: 100%;
  text-align: center;
}


.title {
  margin-top:5rem;
  height: 38rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


.title h1,.title p{
  color: #f4f4f4;
}
.title h1{
  color: #f4f4f4;
  text-shadow: 0 0.325rem 1.3rem rgba(73, 73, 73, 0.8);
  font-family: 'Bangers', cursive;
  font-size: 5rem;
  letter-spacing: 0.2rem;

}
.title.accueil h1{
  font-size: 7rem;
  letter-spacing: 0.4rem;
}
.title p{
  font-size: 2rem;
  text-shadow: 0 0.13rem 0.65rem rgba(73, 73, 73, 0.8);
}

body .presentation,body .monPasse,body .monAvenir{
  padding: 4rem 2.5rem;
}

.imgAndTextTwoColumn img{
  width : 100%;
}


.bgwhit{
background-color: #f4f4f4;
box-shadow: 0 0.065rem 0.325rem 0 rgba(73, 73, 73, 0.8);
position: relative;
z-index: 3;
}

.bggrey{
background-color: #e6e6e6;
}


.imgAndTextAvatar img{
  height: 100%;
  width : auto;
  margin-left: -15%;
}

.imgAndTextAvatar .part1{
  height: 18rem;
  width: 18rem;
  overflow: hidden;
  border-radius:100rem;
  background-color: #e6e6e6;
  box-shadow: 0 0.26rem 0.65rem 0 rgba(73, 73, 73, 0.8);

}


.imgAndTextAvatar .part2 h2{
  font-family: 'Bangers', cursive;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.09rem;
  padding-top: 4rem;
}

.imgAndTextTwoColumn h2{
  font-family: 'Bangers', cursive;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.09rem;
  padding-top: 2.5rem;

}

.imgAndTextTwoColumn p{
  padding-top: 2.5rem;
  font-size: 1.2rem;
  font-weight: 500;


}
.imgAndTextTwoColumn .part1{
  padding: 0;
  overflow: hidden;
  border-radius:0.65rem;
  box-shadow: 0 0.065rem 0.325rem 0 rgba(73, 73, 73, 0.8);
  background-color: #fff5d8;
}

.imgAndTextTwoColumn .part2{
  padding: 0 2.5rem;


}
.imgAndTextTwoColumn img{
  height: 100%;
  width: auto;
  margin-left: -15%;
}




.listTechno .titleTech h2{
  padding: 3rem;
  text-shadow: 0 0.325rem 1.3rem rgba(73, 73, 73, 0.8);
  font-family: 'Bangers', cursive;
  letter-spacing: 0.2rem;
  text-align: center;

}

.listTechno .contentMyCard{
  padding: 2rem 1rem;
}

.listTechno .myCard {
  padding: 2rem 0;
  height: 100%;
  border-radius: 0.65rem;
  background-color: #e6e6e6;
  box-shadow: 0 0.065rem 0.325rem 0 rgba(73, 73, 73, 0.8);
  position: relative;
  z-index: 3;
}

.listTechno .myCard .part1{
  height: 8.45rem;
  width:  8.45rem;
  overflow: hidden;
  border-radius: 100rem;
  box-shadow: 0 0.195rem 0.455rem rgba(73, 73, 73, 0.8);
}

.listTechno .myCard img{
  width:  9rem;
  margin: -0.275rem;
}

.listTechno .myCard .part2{
  padding: 1.5rem 0;
}

.listTechno .myCard strong{
  color:#ffa000 ;
  font-weight: 700;
  font-size: 1.3rem;

}

.listTechno .myCard a{
  text-transform:none;
  color:#c67100;
  margin: 0;
  border-radius: 0.65rem;
  width: 100%;
  text-align: left;

}




.btn-warning:not(:disabled):not(.disabled):active,.listTechno .myCard a:focus, .listTechno .myCard a:active:focus, .listTechno .myCard a:active:hover,.listTechno .myCard a:hover{
  text-transform:none;
  color:#f4f4f4 ;
  background-color: #ffa000;
  border-radius: 0.65rem;
  border-color: transparent;
}

.containerListLink{
  border-radius: 0.65rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items:flex-start;
  padding: 0.325rem;
}

.containerListLink{
  border-radius: 0.65rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items:flex-start;
  padding: 0.325rem;
}


.ListCreation {
  padding: 4rem 2.5rem;
}

.ListCreation:nth-child(even) {
  background-color: #f4f4f4;
  box-shadow: 0 0.065rem 0.325rem 0 rgba(73, 73, 73, 0.8);
  position: relative;
  z-index: 3;
}

.ListCreation:nth-child(odd) {
  background-color: #e6e6e6;
}

.ListCreation .part1{
  height: 18rem;
  padding: 0;
  overflow: hidden;
  border-radius:0.65rem;
  box-shadow: 0 0.065rem 0.325rem 0 rgba(73, 73, 73, 0.8);
  background-color: #fff5d8;
}

.ListCreation .part2{
  text-align: center;
  padding: 0 2rem;
}
.ListCreation img{
  height: 100%;
  display: block;
  margin: 0 auto;
}
.ListCreation .row .part2 a{
  color:#f4f4f4 ;
  background-color: #ffa000;
  border-radius: 0.65rem;
}

.ListCreation .row .part2 a:hover{
  background-color: #ffd149;
  border-radius: 0.65rem;
}

.ListCreation .row .part2 h2{
  font-family: 'Bangers', cursive;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.09rem;
  padding-top: 2.5rem;
}

.ListCreation .row .part2 p{
  padding-top: 2.5rem;
  font-size: 1.2rem;
  font-weight: 500;
}



.listeTechnoCrea .myCard .part1{
  height: 8.45rem;
  width:  8.45rem;
  overflow: hidden;
  border-radius: 100rem;
  box-shadow: 0 0.195rem 0.455rem rgba(73, 73, 73, 0.8);
}

.listeTechnoCrea .myCard img{
  width:  9rem;
  margin: -0.275rem;
}

.creation h2{
  padding: 3rem;
  text-shadow: 0 0.325rem 1.3rem rgba(73, 73, 73, 0.8);
  font-family: 'Bangers', cursive;
  letter-spacing: 0.2rem;
  text-align: center;
}
.listeTechnoCrea h2{
  color:#f4f4f4 ;
}

.listeTechnoCrea, .presentationCrea, .linkCrea{
  padding: 2.5rem;
}

.presentationCrea p{
  padding-top: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.creation .row .part2 h3{
  padding: 1.5rem 0;
}

body .linkCrea .container .btn{
  color:#f4f4f4 ;
  background-color: #ffa000;
  border-radius: 0.65rem;
  font-size: 1.2rem;
  display: block;
  width: 13rem;
  margin: 0 auto;
  margin-bottom: 1rem;

}

body .linkCrea .container .btn:hover{
  background-color: #ffd149;
  border-radius: 0.65rem;
}

@media (min-width: 768px){
  .ListCreation:nth-child(odd) .row {
    flex-direction: row-reverse;
  }

  .monAvenir .row {
    flex-direction: row-reverse;
  }
}

@media (min-width: 992px){

  .heightNavbar{
 height: auto;
 }
  body .nav.flexCenter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;
    width: 100%;

  }
  body .navbar{
    padding: 0 1rem;
    height: auto;
    align-items: center;

  }
  body .nav-tabs .nav-item,body .nav-tabs .nav-link{
    width: auto;
  }
  body .nav-tabs .nav-link{
    font-size: 1.5rem;
    padding: 1rem 0.6rem;
  }

  .imgAndTextTwoColumn .part1{
    height : 21.125rem;
  }
}
